@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');
body {
  font-family: var(--poppins-font) !important;
  font-size: 16px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a:hover {
  text-decoration: none !important;
  color: #fff;
}
:root {
  --poppins-font: Poppins;
  --oswald-font: Oswald;
  --text-clr1: #840d0d;
  --text-clr2: #444444;
}
.banner-sec {
  background: url(./images/main-banner.png) center bottom no-repeat;
  background-size: cover;
  padding: 50px 0;
}
.grey-text {
  color: var(--text-clr2);
}
.super-hd {
  font-family: var(--poppins-font);
  margin-bottom: 0;
  font-size: 2em;
}
.rawmh-sec .super-hd {
  color: var(--text-clr2);
}
.mka-hd {
  font-family: var(--oswald-font);
  font-size: 56px;
  margin-top: 0;
  font-weight: 700;
  color: var(--text-clr1);
}
.red-btn {
  background: var(--text-clr1);
  padding: 10px 20px;
  color: #fff;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
}
.red-btn:hover {
  color: white;
  background: #000;
}
.sub-hd {
  margin-top: 0;
  color: var(--text-clr1);
  font-family: var(--oswald-font);
  font-size: 2.5em;
  font-weight: 600;
  position: relative;
  margin-bottom: 35px;
}
.sub-hd::after {
  content: '';
  position: absolute;
  width: 135px;
  height: 4px;
  background: #ffcc48;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 51px;
}
.mk-para {
  margin-bottom: 30px;
}
.mk-para,
.sub-para {
  font-size: 15px;
}
.bnr-img {
  margin-bottom: -100px;
  margin-top: 40px;
}
/* Raw Manuka Honey Section Css Start */
.rawmh-sec {
  padding: 130px 0 50px;
}
.flexbox-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}
.white-txt {
  color: #fff;
}
.flexbox-inner {
  width: 20%;
  margin: 10px;
  background: linear-gradient(180deg, #ffb800 41.12%, #000000 100%);
  padding: 40px 20px;
  border-radius: 150px;
  text-align: center;
  color: #fff;
  transition: transform 0.2s linear !important;
}
.prdct-title {
  color: #fff;
  font-size: 16px;
  line-height: 23px;
  font-weight: 600;
}
.prdct-price {
  margin-top: 20px;
  margin-bottom: 20px;
}
.strike-price {
  font-weight: normal;
  text-decoration: line-through;
}
.selling-price {
  font-weight: 600;
}
.ac-btn {
  padding: 10px 20px;
  outline: none;
  border-radius: 30px;
  background: #faac01;
  border: none;
  color: #000;
}
.ac-btn:hover {
  background: #fff;
  color: #000;
  font-weight: 600;
}
/* Raw Manuka Honey Section Css End */
.flavoured-sec,
.gift-sec {
  padding: 50px 0;
}
.gift-sec .flexbox-cont {
  justify-content: center;
}

/* Benefits Section CSS Start */
.benefit-sec {
  padding: 150px 0;
  background: url(./images/mhoney.png) left center no-repeat,
    url(./images/wave-banner2.png) no-repeat;
  background-size: 200px, cover;
  position: relative;
}
.benefit-sec::before {
  content: '';
  position: absolute;
  background: url(./images/mhoney.png);
  left: 0;
}
.benefit-sec .super-hd {
  color: #fff;
}
.benefit-sec .sub-hd::after {
  display: none;
}
.iconbox-cont {
  display: flex;
  justify-content: end;
  text-align: center;
  flex-wrap: wrap;
}
.iconbox-inner {
  width: 17%;
}
.iconbox-inner h4 {
  font-weight: 600;
  font-size: 16px;
}
.icon-img {
  padding: 10px 20px;
  transition: all 0.5s linear;
  display: flex;
  justify-content: center;
}
.iconbox-inner:hover .icon-img {
  margin-top: -15px;
  transition: all 0.5s linear;
}
.iconbox-inner:hover .icon-img img {
  filter: drop-shadow(0px 0px 3px #000);
  transition: filter 0.5s ease-in;
}

/* Benefits Section CSS End */
/* About Section CSS Start */
.about-sec {
  padding: 50px 0;
  background: url(./images/semi-ellipse.png) no-repeat;
  background-size: 400px;
}
.about-sec .sub-hd::after {
  left: 0;
  transform: translateX(0);
}
.abt-list {
  list-style: none;
}
.abt-list li .inner {
  position: relative;
  margin-bottom: 35px;
}
.abt-list li:not(:last-child) .inner::after {
  content: '';
  position: absolute;
  border-bottom: 3px dashed #d3cec6;
  width: 88%;
  bottom: -16px;
}
.abt-list .small-title {
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
}
.about-sec .left-img {
  position: absolute;
  bottom: -530px;
}
.abt-list .cont {
  color: #696969;
}
.small-title img {
  width: 40px;
  margin-right: 10px;
}
/* About Section CSS End */
/* Testimonial Section CSS Start */
.testimonial-sec {
  padding: 100px 0 50px;
  background: linear-gradient(
    180deg,
    #fff1cd 0%,
    rgba(255, 241, 205, 0) 70.53%
  );
  clip-path: ellipse(80% 50% at 50% 50%);
}
.testimonial-sec .sub-hd {
  margin-bottom: 20px;
}
.testimonial-sec .sub-hd::after,
.video-sec .sub-hd::after {
  display: none;
}
.testimonial-box {
  padding: 40px 20px;
  border: 3px solid #b2b6ba;
  border-radius: 50px;
  margin-top: 30px !important;
  max-width: 80%;
  margin: auto;
  position: relative;
}
.testimonial-box .fa-quote-left,
.testimonial-box .fa-quote-right {
  font-size: 40px;
  color: #840d0d;
}
.testimonial-box .testimonial-cont {
  position: relative;
  padding: 0 30px;
}
.testimonial-box .testimonial-cont p {
  padding-left: 15px;
  line-height: 25px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.testimonial-box::before {
  content: '\f10d';
  position: absolute;
  font-size: 30px;
  color: rgba(198, 38, 38, 0.6);
  font-family: FontAwesome;
  left: 30px;
  top: 25px;
}
.testimonial-box::after {
  content: '\f10e';
  position: absolute;
  font-size: 30px;
  color: rgba(198, 38, 38, 0.6);
  font-family: FontAwesome;
  right: 50px;
  bottom: 70px;
}
.author-detail {
  text-align: right;
  padding-right: 100px;
}
.author-detail h4 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  font-family: var(--root-font);
}
.author-detail h4::before {
  content: '';
  position: absolute;
  right: 60px;
  width: 50%;
  height: 3px;
  top: 10px;
  background: #faac01;
}
/* Testimonial Section CSS End */
/* Video Section CSS Start */
.video-sec {
  background: linear-gradient(180deg, #faac01 0%, rgba(250, 172, 1, 0) 100%);
  padding: 50px 0;
}
.video-sec .sub-hd {
  color: #fff;
  margin-bottom: 15px;
}
.vd-box {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 480px;
  margin-bottom: 30px;
  background: url(./images/video-img.png) center center no-repeat;
  background-size: contain;
}
.vd-box button {
  font-size: 3em;
  outline: none;
  border: none;
  background: #d90606;
  color: #fff;
  padding: 10px 30px;
  border-radius: 15px;
}
.vd-box button:hover {
  background: #faac01;
}
/* Video Section CSS End */
/* Social Widget Section CSS Start */
.social-widget-sec {
  padding: 50px 0;
}
.widget-item:hover {
  transform: scale(1.1);
}
.widget-top {
  display: flex;
  align-items: end;
  position: relative;
}
.widget-top::after {
  content: '';
  background: #ffcc48;
  position: absolute;
  height: 5px;
  width: 88%;
  bottom: -8px;
  border-radius: 50px;
  left: 5px;
}
.widget-item {
  padding: 10px;
  margin: 5px;
  display: flex;
}
.social-hd {
  font-size: 30px;
  font-weight: 700;
  padding-left: 30px;
  color: #c62626;
}
.mobile-social-hd {
  display: none;
  text-align: center;
  margin-bottom: 30px;
}
.item1 {
  width: 12vw;
  background: #ffb9b9;
}
.item2 {
  width: 9vw;
  background: #c3eefc;
}
.item3 {
  width: 17vw;
  background: #fbe3ff;
}
.item4 {
  width: 13vw;
  background: #ffcba6;
}
.widget-bottom {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}
.item5 {
  width: 13vw;
  background: #fbe3ff;
}
.item6 {
  width: 17vw;
  background: #c3eefc;
}
.item7 {
  width: 6vw;
  background: #ffcba6;
}
.item8 {
  width: 10vw;
  background: #ffb9b9;
}
.item9 {
  width: 6vw;
  background: #fce2a9;
}
.social-smallhd {
  padding-left: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}
.social-icn {
  display: flex;
  justify-content: center;
}
.social-list {
  list-style: none;
  display: flex;
}
.social-list li a {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 23px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}
.social-list li a:hover::after {
  width: 0;
  height: 0;
  transition: all 0.5s ease-in;
}
.social-list li:first-child a:hover {
  color: #4267b2;
  font-size: 30px;
  transition: all 0.5s ease-in;
  border: 1px solid #4267b2;
  border-radius: 50%;
}
.social-list li:last-child a:hover {
  font-size: 30px;
  transition: all 0.5s ease-in;
  color: #e1306c;
  border: 1px solid #e1306c;
  border-radius: 50%;
}
.social-list li a::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.5s ease-in;
}
.social-list li:first-child a::after {
  background: #4267b2;
}
/* Social Widget Section CSS End */
/* Video Modal CSS Start */
.modal {
  text-align: center;
  padding: 0 !important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
#NGvideoModal .modal-body,
#MHvideoModal .modal-body {
  padding: 0;
}
#NGvideoModal .modal-content,
#MHvideoModal .modal-content {
  background: transparent;
  box-shadow: none;
  border: none;
}
.modal-open #NGvideoModal,
.modal-open #MHvideoModal {
  background: #00000057;
}
/* Testimonial Slider Overwrite CSS Start */
.testimonials-slider {
  padding-bottom: 20px;
}
.slick-dots li button:before {
  font-size: 40px !important;
  color: #faac01 !important;
}
/* Testimonial Slider Overwrite CSS End */

.wme-sec {
  padding: 30px 0;
}
.ex-btn {
  background: #000;
  color: #fff;
  font-size: 22px;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
}
